aiohttp==3.7.4.post0
aiohttp-proxy==0.1.2
async-timeout==3.0.1
async_google_trans_new==1.4.5
attrs==21.4.0
beautifulsoup4==4.9.3
certifi==2021.10.8
chardet==3.0.4
discord.py==2.0.0
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
dnspython==2.1.0
html5lib==1.1.0
jishaku==2.5.0
idna==2.8
multidict==6.0.2
motor==3.0.0
pymongo==4.1.1
pysaucenao @ git+https://github.com/3nws/pysaucenao
python-dotenv==0.17.1
soupsieve==2.3.2
typing_extensions==4.1.1
urllib3==1.24.3
yarl==1.7.2
Wand==0.6.7
